[Desktop Entry]
Name=Selene Media Encoder
MimeType=
Exec=selene 
Type=Application
GenericName=Audio-Video Converter
Terminal=false
Icon=selene
Comment=Audio-Video Converter
X-KDE-StartupNotify=false
Categories=AudioVideo;
Name[en_IN]=selene
