app_name: Selene Media Converter
depends_debian:  libgee-0.8-2 libvte-2.91-0 libjson-glib-1.0-0 libxml2 realpath rsync mediainfo libav-tools vorbis-tools x264 lame mkvtoolnix opus-tools vpx-tools ffmpeg2theora gpac sox
depends_redhat:  libgee vte291 json-glib libxml2 rsync mediainfo vorbis-tools mkvtoolnix opus-tools libvpx-utils theora-tools sox
depends_arch:    libgee vte3 json-glib libxml2 rsync mediainfo x264 ffmpeg vorbis-tools lame mkvtoolnix boost icu extra/libstdc++5 ffmpeg2theora community/opus-tools extra/libvpx gpac sox
depends_generic: libgee libvte json-glib libxml2 realpath rsync mediainfo libav-tools vorbis-tools x264 lame mkvtoolnix opus-tools vpx-tools ffmpeg2theora gpac sox
assume_yes: 0
exec_line: selene
